I Am Home 
<div class="container">
 <ul>
        {{#each teacher}}
            <li class="list-style-none"><a href="/teacherInfo/{{this.name}}">{{this.name}}</a></li>
        {{/each}}
    </ul>
    </div>